.about {
    margin: 10px;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
}

.about p {
    font-size: 16px;
    margin-bottom: 20px;
}

.about h2 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: darkred;
}

.about ul {
    margin: 0;
    padding-left: 20px;
}

.about ul li {
    margin-bottom: 10px;
    font-size: 16px;
}

.about strong {
    font-weight: bold;
}

@media (max-width: 768px) {
    .about {
    padding: 15px;
    }

    .about h2 {
    font-size: 20px;
    }

    .about p,
    .about ul li {
    font-size: 14px;
    }
}