.contact-container {
  font-family: Arial, sans-serif;
  color: #333;
}

.images {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.contact-image-left,
.contact-image-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-image-left img,
.contact-image-right img {
  border-radius: 3px;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.contact-image-left img {
  width: 670px;
  height: 450px;
  margin-left: 5px;
}

.contact-image-right img {
  width: 600px;
  height: 450px;
}

@media (max-width: 768px) {
  .contact-image-left img,
  .contact-image-right img {
    width: 100%;
    height: auto;
  }
}

.contact-info {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #fff;
  margin: 20px;
  border-radius: 5px;
}

.contact-info p {
  line-height: 1.6;
}

.contact-info a {
  color: #007bff;
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}
