.footer-college {
    background-color: #fff;
    padding: 20px 0;
    color: #333;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer-container-college {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section-college {
    flex: 1;
    min-width: 250px;
    margin: 10px 20px;
    text-align: center;
}

.footer-logo-college {
    width: 100px;
    height: auto;
    margin-bottom: 15px;
}

.social-icons-college {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.social-icon-college {
    margin: 0 10px;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.social-icon-college:hover {
    color: #0073e6;
}

.newsletter-form-college {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.newsletter-input-college {
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px 0 0 5px;
    width: 70%;
}

.newsletter-button-college {
    padding: 10px 20px;
    background-color: darkred;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.newsletter-button-college i {
    font-size: 16px;
}


.app-links-college {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.app-link-image-college {
    max-width: 150px;
    height: auto;
}
.footer-bottom-college {
    background-color: darkred;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

.footer-bottom-college p {
    margin: 0;
}
