.image-wrapper {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.left-image,
.right-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-image img,
.right-image img {
    border-radius: 3px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.left-image img {
    width: 670px;
    height: 450px;
    margin-left:5px;
}

.right-image img {
    width: 600px;
    height: 450px;
}

@media (max-width: 768px) {
    .left-image img,
    .right-image img {
        width: 100%;
        height: auto;
    }
}

