.payment-page-container {
    padding: 20px;
    margin: 10px auto;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height:615px;
}

.payment-page-container h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

.payment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.back-arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
    color: #007bff;
    font-size: 16px;
    transition: color 0.3s ease;
}

.back-arrow:hover {
    color: #0056b3;
}


.payment-form label {
    font-size: 16px;
    margin-bottom: 8px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    color: #555;
}

.payment-form input[type="text"],
.payment-form input[type="number"],
.payment-form select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.payment-form select {
    appearance: none;
    background: white;
}

.GooglePay {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

.payment-form button[type="submit"] {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.payment-form button[type="submit"]:hover {
    background-color: #0056b3;
}
