.container-registration {
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.container-registration-header {
    text-align: center;
    margin-bottom: 20px;
}

.container-registration-logo span {
    font-size: 34px;
    font-weight: bold;
    color: #ff6600;
}

.container-registration-college-info h3 {
    margin: 0;
    color: #ff6600;
}

.container-registration-college-info h1 {
    margin: 5px 0;
    font-size: 22px;
    color: #333;
}

.container-registration-form-item img {
    display: block;
    margin-top: 10px;
    max-width: 100%;
    height: auto;
}

.payment-description {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
}
.payment-logo{
    width:200px;
    height:100px;
    border-radius: 2px solid grey;
    border: 4px;
}

.container-registration-college-info p {
    margin: 2px 0;
    font-size: 14px;
    color: #666;
}


.container-registration-admission-info h1 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    color: #333;
}

.container-registration-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container-registration-form-group {
    margin-bottom: 20px;
}


.container-registration-form-item label {
    display: block;
    margin-bottom: 5px;
}

.container-registration-form-item input,
.container-registration-form-item select,
.container-registration-form-item textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.container-registration-form-group.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.container-registration-form-item {
    flex: 1;
    min-width: 200px;
    margin-bottom: 15px;
}

.underline {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

button {
    background-color: rgb(14, 171, 14);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.container-registration-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.registration-logo-image {
    height: 60px;
    width: auto;
    margin-right: 450px;
}

.checkbox{
    margin-left: 0%;
    align-items: flex-start;
}
.checkbox-label {
    margin: 0;
    color: #333;
}

.container-registration-form-checkbox{
    background-color: white;
}