.main-student {
    border: 2px solid grey;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 350px;
    height: 410px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text-student {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-student-image {
    width:180px;
    height: 160px;
    margin: 10px 0;
}

.main-student-button {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border: 1px solid rgb(200, 49, 49);
    background-color:darkred;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.link-button {
    text-decoration: none;
}

.main-student-button:hover {
    background-color: rgb(180, 40, 40);
}

.google-icon {
    font-size: 20px;
    margin-right: 10px;
}
