.teacherpage-container {
    padding: 20px;
    margin-left: 150px;
    margin-top: 20px;
    border: 2px solid grey;
    border-radius: 8px;
    background-color: #f9f9f9;
    max-width: 920px;
    width: auto;
}

.teacherpage {
    padding: 20px;
}

.teacherpage h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacherpage-back-arrow {
    font-size: 20px;
    margin-right: 10px;
}

.teacherpage-form {
    margin-bottom: 20px;
}

.teacherpage-form h2 {
    margin-bottom: 10px;
}

.teacherpage-form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.teacherpage-form-row .teacherpage-form-group {
    flex: 1;
    margin-right: 10px;
}

.teacherpage-form-row .teacherpage-form-group:last-child {
    margin-right: 0;
}

.teacherpage-form-group label {
    display: block;
    margin-bottom: 5px;
}

.teacherpage-form-group input,
.teacherpage-form-group select,
.teacherpage-form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.teacherpage-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.teacherpage-popup-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.teacherpage-popup-content h3 {
    margin-bottom: 20px;
}

.teacherpage-popup-content button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.teacherpage-popup-content button:hover {
    background-color: #0056b3;
}
